.App {
  text-align: left;

}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  font-weight: 500;
}

h3 {
  font-size: 56px;
  font-weight: 500;
}

h4 {
  font-size: 48px;
  font-weight: 300;
}

h5 {
  font-size: 42px;
  font-weight: 300;
}

h6 {
  font-size: 36px;
  font-weight: 100;
}

p {
  font-size: 24px;
  font-weight: 100;
}

.backgroundImage {
  background: linear-gradient(320.54deg, #00069F 0%, #120010 72.37%),
    linear-gradient(58.72deg, #69D200 0%, #970091 100%),
    linear-gradient(121.28deg, #8CFF18 0%, #6C0075 100%),
    linear-gradient(121.28deg, #8000FF 0%, #000000 100%),
    linear-gradient(180deg, #00FF19 0%, #24FF00 0.01%, #2400FF 100%),
    linear-gradient(52.23deg, #0500FF 0%, #FF0000 100%),
    linear-gradient(121.28deg, #32003A 0%, #FF4040 100%),
    radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
  background-blend-mode: screen,
    color-dodge,
    color-burn,
    screen,
    overlay,
    difference,
    color-dodge,
    normal;
  position: absolute;
  padding: 0;
  right: 0vw;
  top: 0vh;
  width: 100vw;
  clip-path: inset(0% 0% 0% 30%);
  z-index: -1;
}